<html lang="en">

<head>
    <title>Page with Blueprints</title>
</head>

<body>
<h1>All posts</h1>
{%  for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
{% endfor %}
</body>
</html>
